[data-theme="ad"] {
  &[data-inview="view"] {
    transform: scale3d(1, 1, 1);
    opacity: 1;
    transition: transform 1.3s .2s, opacity 1.3s .2s;
  }

  &[data-inview="none"] {
    transform: scale3d(.9, .9, 1);
    opacity: 0;
    transition: transform 0s, opacity 0s;
  }
}
