[data-theme='ae'] {
  &[data-inview='view'] {
    opacity: 1;
    transition: opacity var(data-duration, 2.3s) var(data-delay, 0.2s);
  }

  &[data-inview='none'] {
    opacity: 0;
    transition: opacity 0s;
  }
}
