[data-theme="ac"] {
  &[data-inview="view"] {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: transform 1.3s .2s, opacity 1.3s .2s;
  }

  &[data-inview="none"] {
    transform: translate3d(-80px, 0, 0);
    opacity: 0;
    transition: transform 0s, opacity 0s;
  }
}
